<div class="container-section testimonial-section">
        <div class="testimonial-section-content">
              <div class="testimonial">
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda deleniti dolor ipsum molestias mollitia ut. Aliquam aperiam corporis cumque debitis delectus dignissimos. Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    </p>
                    <div class="testimonial-content">
                        <div class="pic">
                            <img src="img/avatar.jpeg">
                        </div>
                        <h3 class="title">Jackson</h3>
                    </div>
                </div>
        </div>

</div>