<div class="container-section intro-section">
        <div class="intro-overlay" style="opacity: 0.9; background-color: rgba(18, 18, 18,0.4);">
    </div>
        <div class="intro-section-content intro-section-title">
            <h2>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy</h2>
        </div>
        <div class="intro-section-content intro-section-service">
            <div class="service_box">
                <div class="service_logo">
                    <span><i class="fa fa-users" aria-hidden="true"></i><span>
                </div>
                <h4 class="service_text">Hello world</h4>
            </div>
            <div class="service_box">
                <div class="service_logo">
                    <span><i class="fa fa-users" aria-hidden="true"></i><span>
                </div>
                <h4 class="service_text">Hello world</h4>
            </div>
            <div class="service_box">
                <div class="service_logo">
                    <span><i class="fa fa-users" aria-hidden="true"></i><span>
                </div>
                <h4 class="service_text">Hello world</h4>
            </div>
        </div>
</div>