<div class="container-section about-section">
        <div class="about-section-content">
            <h4 class="about-section-content-one">
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            Lorem Ipsum is simply 
            </h4>
            <h5 class="about-section-content-two">
            dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy
            </h5>
        </div>
        <div class="about-section-image">
           <figure>
            <img src="img/map.jpeg" alt="Trulli" style="width:100%">
            <figcaption>Client Around the world</figcaption>
           </figure>
        </div>
</div>