<div class="navbar-section container-section">
   <div class="mobileNav">
      <span><i class="fa fa-bars"></i></span>
   </div>
   <div class="companyDetail">
      <h3 class="companyDetail-name">
         <span class="firstName">COMPANY</span>&nbsp<span class="lastName">NAME</span>
      </h3>
   </div>
   <div class="navigation">
      <nav class="navigationBar">
         <a href="/html/">About</a> |
         <a href="/css/">Services</a> |
         <a href="/js/">Solution</a> |
         <a href="/jquery/">Blog</a>
      </nav>
      <div class="getQuote">
         <h5>
            <span> <i class="fa fa-television"></i></span> <span class="getQuote-text">Get in touch</span> 
         </h5>
      </div>
   </div>
</div>